@import url(myFont.css);

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    

}
.myCardImageSize{
    width: 100px;
    height: 200px;
}
.fullPage{
    width: 100%;
    height: 100%;
    background-color: black;
}
p{
    font-family: 'Sness', Courier, monospace;
    color: indianred;
    text-align: center;
    font-size: 100px;
    
}
div {
    cursor: grab;
    overflow: auto;
}




 